body{
    font-family: 'Times New Roman', Times, serif;
    background: white;
}

/*-----------Login container ------------*/

.box-area{
    width: 930px;
}
/*----------- Right------*/
.right-box{
    padding: 40px 30px 40px 40px;
    
}


/*----------custom placeholder-----------*/

::placeholder{
    font-size: 16px;
}

/*------------- for small screens-----------*/

@media only screen and (max-width: 768px){
    .box-area{
        margin: 0 10px;

    }
    .left-box{
        height: 100px;
        overflow: hidden;
    }
    .right-box{
        padding: 20px;
        box-shadow: black;
    }
}